<!-- Start deneb_about section -->
<section class="deneb_about {% if include.section_class %} {{include.section_class}} {% else %} about_v1 {% endif %}">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="{{relative_url}}/assets/images/breadcrumb_bg.jpg" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>
				<div class="deneb_content_box wow fadeInRight">
					<h2>Why Choose Us?</h2>
					<p>We listen to your business needs, provide customized services that won't break the bank, and with years of experience in the industry we provide you with competitive software solutions that will put you in the public spotlight!</p>
					<!-- <p>Suspendisse potenti. Aliquam elementum felis purus, quis vulputate libero semper nec. Morbi tincidunt maximus nisl vel placerat. Curabitur at ligula ac diam elementum hendrerit. Suspendisse nec metus eu est laoreet hendrerit vitae non ipsum. Nam faucibus elementum arcu, eget eleifend tortor.</p> -->
					<a href="/about" class="deneb_btn">Read More</a>
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
	</div>
</section>
<!-- End deneb_about section -->