<!-- Start deneb_contact section -->
<section class="deneb_contact contact_v1">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="deneb_img_box">
					<img src="/assets/images/contact.png" class="img-fluid" alt="portfolio"/>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section_title">
					<h2>Get In Touch With Us</h2>
					<p>Fill out the form below to send us a message and we'll be sure to get back to you!</p>
				</div>
				<div class="contact_form">
					<form method="post" action="https://formsubmit.io/send/sodaappsllc@gmail.com">
						<div class="row">
							<div class="col-lg-6">
								<div class="form_group">
									<input type="text" class="form_control" placeholder="First Name" name="name" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form_group">
									<input type="text" class="form_control" placeholder="Last Name" name="name" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form_group">
									<input type="email" class="form_control" placeholder="Email Address" name="email" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form_group">
									<input type="text" class="form_control" placeholder="Phone No." name="phone" required>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form_group">
									<textarea class="form_control" placeholder="Message" name="message"></textarea>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="button_box">
									<button class="deneb_btn" type="submit">Submit Now</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_contact section -->