<!-- Start deneb_contact section -->
<section class="deneb_contact cantact_v2 section_padding">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="section_title">
				<h2>Send us a message</h2>
				<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>
			</div>
			<div class="contact_form">
				<form action="https://formsubmit.io/send/tortoizthemes@gmail.com">
					<div class="row">
						<div class="col-lg-6">
							<div class="form_group">
								<input type="text" class="form_control" placeholder="First Name" name="first_name" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form_group">
								<input type="text" class="form_control" placeholder="Last Name" name="last_name" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form_group">
								<input type="email" class="form_control" placeholder="Email Address" name="email" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form_group">
								<input type="text" class="form_control" placeholder="Phone No." name="phone" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form_group">
								<input type="text" class="form_control" placeholder="Project Title" name="subject" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form_group">
								<select name="service_name">
									<option value="">Choose service</option>
									<option value="Web Design">Web Design</option>
									<option value="Web Development">Web Development</option>
									<option value="Apps Development">Apps Development</option>
									<option value="Graphic Design">Graphic Design</option>
								</select>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form_group">
								<textarea class="form_control" placeholder="Message" name="message"></textarea>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="button_box">
								<button class="deneb_btn" type="submit">Submit Now</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End deneb_contact section -->