<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="/assets/images/shape/shape_10.png" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Latest Projects</h2>
					<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="project_button text-center">
					<button class="project_btn active_btn" data-filter="*">all</button>
					<button class="project_btn" data-filter=".cat1">Web Design</button>
					<button class="project_btn" data-filter=".cat2">Web Development</button>
					<button class="project_btn" data-filter=".cat3">Branding</button>
					<button class="project_btn" data-filter=".cat4">SEO</button>
					<button class="project_btn" data-filter=".cat5">Mobile App</button>
				</div>
			</div>
		</div>	
		<div class="projects_slider_content">
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_1.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Design & Develop</a></h4>
						<p>Design</p>
					</div>
				</div>
			</div>
			<div class="single_project cat2 cat4">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_2.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Product Display</a></h4>
						<p>Branding</p>
					</div>
				</div>
			</div>
			<div class="single_project cat3 cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_3.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Traveling App</a></h4>
						<p>Mobile</p>
					</div>
				</div>
			</div>						
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="/assets/images/portfolio_1.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Design & Develop</a></h4>
						<p>Design</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->