<!-- Start deneb_experience section -->
<section class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Team</h2>
					<p>A little bit about us and our our experience</p>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Worked on multiple website and mobile applications to provide industry leading solutions to customers at fortune 500 companies.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>KJ</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Mobile App Developer</h4>
						<h5>Ken Jones</h5>
						<h6>March 2016 - Present</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Website Developer</h4>
						<h5>Ross Eaton</h5>
						<h6>Feb 2017 - Present</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>RE</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Developed several high quality websites for industry leaders while continuing to keep mobile design a top priority</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Mauris dictum eros purus, vitae pharetra risus pulvinar rhoncus. Duis bibendum tristique luctus. Aliquam non urna odio morbi nec lectus tempus lorem vehicula consequat sed eu lectus. Ut maximus nulla a est placer.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>3.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Graphic Designer</h4>
						<h5>john abraham</h5>
						<h6>March 2007- August 2020</h6>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</section>
<!-- End deneb_experience section -->