<!-- Start deneb_skill section -->
<section class="deneb_skill">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<div class="section_title">
					<h2>Cutting Edge Skills</h2>
					<p>Through years for research, training, and projects we have mastered the skills needed to get the job done!</p>
				</div>
				<div class="skill_wrapper">
					<div class="single_bar">
						<div class="progress_title">
							<h5>UI/UX Design<span>100%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 99%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Web Design<span>100%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 99%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>HTML/CSS<span>100%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 99%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Javascript<span>100%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 99%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Website Hosting<span>100%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 99%;"><div class="dot"></div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_img_box">
					<img src="../assets/images/skill.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_skill section -->