<!-- Start deneb_breadcrumb section -->
<section class="deneb_breadcrumb bg_image" style="background-image: url({% if page.page_header_image %} {{page.page_header_image}} {% else %} {{site.hero_image}} {% endif %});">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_content">
					<h1>{{page.title}}</h1>
					<ul class="mt-3">
						<li><a href="{{site.url}}">Home</a></li>
						<li>{{page.title}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_breadcrumb section -->
