<!-- Start deneb_pricing section -->
<section class="deneb_pricing pricing_v1">
	<div class="shape_v4">
		<img src="{{relative_url}}/assets/images/shape/shape_11.png" class="shape_11" alt="">
	</div>
	<div class="container">
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Website Services</h2>
					<p>We can deliver and cater to your needs within your budget!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/icon_4.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h3>Basic</h3>
					</div>
					<div class="list">
						<ul>
							<li>Graphic Design</li>
							<li>Web Design</li>
							<!-- <li><del>UI/UX</del></li> -->
							<!-- <li><del>HTML/CSS</del></li> -->
							<!-- <li><del>SEO Marketing</del></li> -->
							<!-- <li><del>Business Analysis</del></li> -->
						</ul>
					</div>
					<!-- <div class="price">
						<h2>$75 <span>/ Month</span></h2>
					</div> -->
					<div class="button_box">
						<a href="/contact" class="deneb_btn">Start now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay=".2s">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/icon_4.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h3>Standard</h3>
					</div>
					<div class="list">
						<ul>
							<li>Graphic Design</li>
							<li>Web Design</li>
							<!-- <li><del>UI/UX</del></li> -->
							<li>HTML/CSS</li>
							<!-- <li><del>SEO Marketing</del></li> -->
							<!-- <li><del>Business Analysis</del></li> -->
						</ul>
					</div>
					<!-- <div class="price">
						<h2>$250 <span>/ Month</span></h2>
					</div> -->
					<div class="button_box">
						<a href="/contact" class="deneb_btn">Start now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="pircing_box wow fadeInUp" data-wow-delay=".3s">
					<div class="icon">
						<img src="{{relative_url}}/assets/images/icon_4.png" class="img-fluid" alt="">
					</div>
					<div class="title">
						<h3>Premium</h3>
					</div>
					<div class="list">
						<ul>
							<li>Graphic Design</li>
							<li>Web Design</li>
							<li>UI/UX</li>
							<li>HTML/CSS</li>
							<li>SEO Marketing</li>
							<li>Business Analysis</li>
						</ul>
					</div>
					<!-- <div class="price">
						<h2>$350 <span>/ Month</span></h2>
					</div> -->
					<div class="button_box">
						<a href="/contact" class="deneb_btn">Start now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_pricing section -->