<!-- Start deneb_service section -->
<section class="service_wrapper section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<div class="service_tab_nav">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      	<a class="nav-link active" data-toggle="tab" href="#web"><img src="../assets/images/icon_11.png" alt="web solution"><span>Web Solution</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#strategy"><img src="../assets/images/icon_12.png" alt="Strategy & Research"><span>Strategy & Research</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#development"><img src="../assets/images/icon_13.png" alt="Web Development"><span>Web Development</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#app"><img src="../assets/images/icon_14.png" alt="App Design"><span>App Design</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#marketing"><img src="../assets/images/icon_15.png" alt="Digital Marketing"><span>Digital Marketing</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#analysis"><img src="../assets/images/icon_16.png" alt="Business Analysis"><span>Business Analysis</span></a>
						    </li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="web" class="tab-pane active">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Web Solution</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/01.jpg" class="img-fluid" alt="Web Solution"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="strategy" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Strategy & Research</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/02.jpg" class="img-fluid" alt="Strategy & Research"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="development" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Web Development</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/03.jpg" class="img-fluid" alt="Web Development"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="app" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>App Design</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/04.jpg" class="img-fluid" alt="App Design"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="marketing" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Digital Marketing</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/05.jpg" class="img-fluid" alt="Digital Marketing"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="analysis" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Business Analysis</h2>
					      				<p>Etiam suscipit sed sem nec elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed accumsan, urna vel finibus sollicitudin, urna sem fringilla nisi.</p>
					      				<p>In vel ante tristique, blandit nisi in, feugiat nisl. Nunc sagittis pretium arcu, ac consectetur diam feugiat vitae. Pellentesque sit amet elit facilisis, sodales nisl non, luctus ex. Donec molestie consequat velit, id imperdiet arcu sollicitudin.</p>
					      				<p>Praesent ac tempus ipsum, eget consequat ante. Sed consequat, elit euismod finibus faucibus.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/06.jpg" class="img-fluid" alt="Business Analysis"/>
					      			</div>
					      		</div>
					      	</div>
					    </div>
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_service section -->