<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>Software Solutions<br><span>Soda Apps</span></h1>
							<h5>Helping Small Businesses Pop</h5>
							<p>With our software and website solutions we will surely help you and your business POP with the best technology!</p>
							<a href="contact" class="deneb_btn">Contact Us</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_1.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>We Help You! <br><span>Soda Apps</span></h1>
							<h5>Small Business Helping Small Business</h5>
							<p>We too are a small business so we understand your needs and give you a personalized service without a high dollar price tag!</p>
							<a href="contact" class="deneb_btn">Contact Us</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_02.png" class="img-fluid" alt="slider three"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>Efficient Service <br><span>Soda Apps</span></h1>
							<h5>Quality Service Delievered Fast</h5>
							<p>We use cutting edge technology combined with high powered industry skills to give you top notch service with fast delievery!</p>
							<a href="contact" class="deneb_btn">Contact Us</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_03.png" class="img-fluid" alt="slider four"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_banner section-->